name: Docker Image CI Nightly
on:
  push:
    branches: [ "main" ]
    paths:
      - "**/Dockerfile"
  schedule:
    - cron: '15 7 * * *'
  workflow_dispatch:
env:
  IMAGE_NAME: zkoesters/mhserveremu
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: 'nightly'
            path: 'nightly'
          - version: 'nightly-alpine'
            path: 'nightly/alpine'
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up rclone
        uses: AnimMouse/setup-rclone@0d99fa3878a334d3e307c1a8372ad55550fdaea7 # v1.11.0
        with:
          rclone_config: ${{ secrets.RCLONE_CONFIG }}
      - name: Download necessary files
        run: |
          rclone copy r2:private-dependencies/Calligraphy.sip ${{ github.workspace }}
          rclone copy r2:private-dependencies/mu_cdata.sip ${{ github.workspace }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: ${{ env.IMAGE_NAME }}
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ${{ matrix.path }}/Dockerfile
          platforms: linux/amd64
          annotations: ${{ steps.meta.outputs.annotations }}
          sbom: true
          provenance: mode=max
          push: true
          tags: ${{ env.IMAGE_NAME }}:${{ matrix.version }}