name: Tests
on:
  pull_request:
    branches: [ "main" ]
    paths:
      - "**/Dockerfile"
permissions:
  contents: read
jobs:
  test:
    name: Image Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - version: '0.4.0'
          - version: '0.5.0'
          - version: '0.6.0'
          - version: 'nightly'
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - name: Set up rclone
        uses: AnimMouse/setup-rclone@0d99fa3878a334d3e307c1a8372ad55550fdaea7 # v1.11.0
        with:
          rclone_config: ${{ secrets.RCLONE_CONFIG }}
      - name: Download necessary files
        run: |
          rclone copy r2:private-dependencies/Calligraphy.sip ${{ github.workspace }}
          rclone copy r2:private-dependencies/mu_cdata.sip ${{ github.workspace }}
      - name: Run tests
        run: make test-${{ matrix.version }}
